body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.top-banner {
    background-image: url(banner.jpg);
    height: 600px;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 100px;
    box-shadow: 0px 15px 5px grey;
}

.first-heading {
    color: aliceblue;
    font-weight: 900;
    font-size: 70px;
    padding-top: 80px;
}

.top-banner p {
    color: white;
}

.top-span {
    color: darkred;
}

.join-sec {
    text-align: center;


}

.full-area {
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.first-area {
    width: 40%;

    padding-left: 5%;
    padding-top: 10%;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

.join-click {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(#1e2a3b, #1957c2);
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
}

.join-click:hover {
    padding: 3px 8px;
    border-radius: 5px;
    color: #d15a11;


}



.second-area {
    width: 60%;
    margin-left: 5%;

}

.second-area img {
    width: 400px;
    height: 500px;
    box-shadow: 7px 7px 7px grey;
}

.second-area img:hover {
    width: 400px;
    height: 500px;
    box-shadow: 7px 7px 7px #1144d1;
}

.lady-area {
    display: flex;
    width: 100%;
    text-align: center;
    margin-top: 100px;
}

.lady-pic {
    width: 60%;
    margin-right: 5%;
}

.lady-pic img {
    width: 500px;
    height: 500px;
    box-shadow: 7px 7px 7px grey;

}

.lady-pic img:hover {
    width: 500px;
    height: 500px;
    box-shadow: 7px 7px 7px #a8323e;

}

.lady-about {
    width: 40%;
    margin-right: 5%;
    padding-top: 70px;
}

.visit-section {
    text-align: center;
    font-size: 30px;
}

.visit-button {
    text-decoration: none;
    color: black;
    background-image: linear-gradient(#3d1317, #e31226);
    padding: 3px 8px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px grey;
}

.visit-button:hover {
    padding: 3px 8px;
    border-radius: 5px;
    color: #736a6d;
    box-shadow: 7px 7px 7px #736a6d;

}